cff-version: 1.2.0
message: "If you use this code, please cite the associated paper."
title: "[Paper title to be added]"
authors:
  - family-names: "[Family name]"
    given-names: "[Given name]"
type: software
repository-code: "https://github.com/[username]/[repository]"
preferred-citation:
  type: article
  title: "[Paper title to be added]"
  authors:
    - family-names: "[Family name]"
      given-names: "[Given name]"
  year: "[YEAR]"
